<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>flight</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SignupServlet</display-name>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>com.flight.controller.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/SignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.flight.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet1</display-name>
    <servlet-name>LoginServlet1</servlet-name>
    <servlet-class>com.flight.controller.LoginServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet1</servlet-name>
    <url-pattern>/LoginServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_LoginServlet</display-name>
    <servlet-name>Admin_LoginServlet</servlet-name>
    <servlet-class>com.flight.controller.Admin_LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_LoginServlet</servlet-name>
    <url-pattern>/Admin_LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Forget_PasswordServlet</display-name>
    <servlet-name>Forget_PasswordServlet</servlet-name>
    <servlet-class>com.flight.controller.Forget_PasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Forget_PasswordServlet</servlet-name>
    <url-pattern>/Forget_PasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>set_passwordServlet</display-name>
    <servlet-name>set_passwordServlet</servlet-name>
    <servlet-class>com.flight.controller.set_passwordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>set_passwordServlet</servlet-name>
    <url-pattern>/set_passwordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Edit_flightServlet</display-name>
    <servlet-name>Edit_flightServlet</servlet-name>
    <servlet-class>com.flight.controller.Edit_flightServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit_flightServlet</servlet-name>
    <url-pattern>/Edit_flightServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Edit_flight</display-name>
    <servlet-name>Edit_flight</servlet-name>
    <servlet-class>com.flight.controller.Edit_flight</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit_flight</servlet-name>
    <url-pattern>/Edit_flight</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Insert_Flight</display-name>
    <servlet-name>Insert_Flight</servlet-name>
    <servlet-class>com.flight.controller.Insert_Flight</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Insert_Flight</servlet-name>
    <url-pattern>/Insert_Flight</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete_flight</display-name>
    <servlet-name>Delete_flight</servlet-name>
    <servlet-class>com.flight.controller.Delete_flight</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete_flight</servlet-name>
    <url-pattern>/Delete_flight</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Insert_Date</display-name>
    <servlet-name>Insert_Date</servlet-name>
    <servlet-class>com.flight.controller.Insert_Date</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Insert_Date</servlet-name>
    <url-pattern>/Insert_Date</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete_Date</display-name>
    <servlet-name>Delete_Date</servlet-name>
    <servlet-class>com.flight.controller.Delete_Date</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete_Date</servlet-name>
    <url-pattern>/Delete_Date</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutAdmin</display-name>
    <servlet-name>LogoutAdmin</servlet-name>
    <servlet-class>com.flight.controller.LogoutAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutAdmin</servlet-name>
    <url-pattern>/LogoutAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchFlightServlet</display-name>
    <servlet-name>SearchFlightServlet</servlet-name>
    <servlet-class>com.flight.controller.SearchFlightServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchFlightServlet</servlet-name>
    <url-pattern>/SearchFlightServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutUser</display-name>
    <servlet-name>LogoutUser</servlet-name>
    <servlet-class>com.flight.controller.LogoutUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutUser</servlet-name>
    <url-pattern>/LogoutUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Book_TicketServlet</display-name>
    <servlet-name>Book_TicketServlet</servlet-name>
    <servlet-class>com.flight.controller.Book_TicketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Book_TicketServlet</servlet-name>
    <url-pattern>/Book_TicketServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cancel_TicketServlet</display-name>
    <servlet-name>Cancel_TicketServlet</servlet-name>
    <servlet-class>com.flight.controller.Cancel_TicketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cancel_TicketServlet</servlet-name>
    <url-pattern>/Cancel_TicketServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete_TicketServlet</display-name>
    <servlet-name>Delete_TicketServlet</servlet-name>
    <servlet-class>com.flight.controller.Delete_TicketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete_TicketServlet</servlet-name>
    <url-pattern>/Delete_TicketServlet</url-pattern>
  </servlet-mapping>
</web-app>